/* ------------------------------------------------------------------------------------------------------
	colours
------------------------------------------------------------------------------------------------------*/

$black: #000000;
$ligher_black: #666;
$white: #ffffff;
$grey: #f6f6f6;
$grey_dark: #e4e4e4;
$grey_darker: #b1b1b1;
$blue_highlight: rgba(81, 203, 238, 1);
$orange: #c76c0c;
