/* ------------------------------------------------------------------------------------------------------
	General Styles
------------------------------------------------------------------------------------------------------*/
html {
	box-sizing: border-box;
}

  *, *:before, *:after {
box-sizing: inherit;
}

article, aside, details, figure, footer, header, hgroup, nav, section {
	display: block;
}

img { max-width: 100%; }

/* main content header and section over hidden to stop floats breaking out */
#main-content {
	header,
	section {
		overflow: hidden;
	}
}