/* -----------------------------------------------------------------------------------------
	Font sizes use percentages and are based on Yahoo YUI 2 font sizes - http://yui.github.io/yui2/docs/yui_2.9.0_full/fonts/
	- If you want a bigger font use the formula size x 7.7 (50px x 7.7)
----------------------------------------------------------------------------------------- */
html { 
	-webkit-text-size-adjust: none; 
	-moz-text-size-adjust: none; 
	-ms-text-size-adjust: none; 
}
body { 
	font: 13px "Arial", sans-serif; 
	line-height: 13px; 
}
h1 { 
	font-size: 277.2%/*36px*/; 
	line-height: 120%; 
	margin-bottom: 15px; 
}
h2 { 
	font-size: 182% /*24px*/; 
	line-height: 130%; 
	margin-bottom: 15px; 
}
h3 { 
	font-size: 138.55% /*18px*/; 
	line-height: 140%; 
	margin-bottom: 15px; 
}
h4 { 
	font-size: 116% /*15px*/; 
	line-height: 140%; 
	margin-bottom: 15px; 
}
h5 { 
	font-size: 93%/*12px*/; 
	line-height: 140%; 
	margin-bottom: 15px; 
}
p { 
	margin-bottom: 15px; 
	font-size: 100%; 
	line-height: 150%; 
}
li { 
	font-size: 100%; 
	line-height: 150%; 
	margin-bottom: 5px; 
}
ul, ol { 
	margin-left: 30px; 
}
ul { 
	list-style-type : disc; 
	list-style-position : inside; 
	margin-bottom: 15px; 
}
ol { 
	list-style-type : decimal; 
	list-style-position : inside; 
	margin-bottom: 15px; 
}
abbr, acronym { 
	border-bottom-width: 0; 
}
strong { 
	font-weight: bold; 
}
em { 
	font-style: italic; 
}